<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 


<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
	<% } else{%>
		<%- include('./partials/headerNoLogueado')  %> 
	<% } %> 
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.model %> </h2> 
			<% if (locals.user != undefined) { %> <!-- aca en realidad hay que hacer que locals.user.id sea == a al id de quien realizo el comentario -->
			<p class="product-detail-description">
				<a class= "editButton" href="/products/edit/<%=product.id %>">Editar</a>
			</p>
			<% } %> 

			<% if (locals.user != undefined) { %>
			<p class="product-detail-description">
				<a class= "editButton" href="/products/delete/<%=product.id%>">Eliminar</a>
			</p>
			<% } %> 
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= product.photo%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.description  %> </p>
				</article>
				<div class="col-12 col-lg-4">

				<section class="comments">
					<% for (let i = 0; i < product.comment.length; i++) { %>
						<article>
							<img src= "/images/users/<%=product.comment[i].user.foto%>" alt="img perfil">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile/<%=product.comment[i].user.id%>">Username: </a> </strong>
									<%= product.comment[i].comentario %> 
								</p>
							</div>
						</article>
						<% } %>
				</section>
					<form class="form" action="/products/id/<%=product.id%>" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>

	
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>