<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
<% } else{%>
		<%- include('./partials/headerNoLogueado')  %> 
<% } %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Get registered at Just Hype:</h2>
			</div>
			
			<div class="wrapper fadeInDown">
				<div id="formContent">
				  <!-- Tabs Titles -->
				  <h2 class="active"> Register </h2>
				  <!-- Icon -->
			  <% if (locals.errors) { %>
			   <p class="errorMessage"> <%=locals.errors.message  %> </p>
			  <% } %>
				  <!-- Login Form -->
				<form class="form-especial" action="/profile/register" method="POST" enctype="multipart/form-data">
					<input type="text" id="login" name="email" placeholder="mail">
					<hr>
					<input type="text" id="name" name="nombre" placeholder="name">
					<hr>
					<input type="text" id="apellido" name="apellido" placeholder="apellido">
					<hr>
					<input type="password" id="password" name="contrasena" placeholder="password">
					<hr>
					<label class= "letraForm" for="profilePic"> Choose a profile pic:</label>
					<input type="file" name="imgPerfil" placeholder= "Profile pic" value="">
					<hr>
					<input type="submit" class="fadeIn fourth" value="Register">
				  </form>
		
				</div>
			  </div>

		</div>
	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>